// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"header": #AF5625,
	"baggrund": #F1E6E3,
	"knap": #458977,
	"gul": #E0A10D,
	"reed": #E7420C
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


@font-face {
	font-family: "AnotherShabby";
	src: url("../fonts/another-shabby-light.ttf");
	src: url('../fonts/another-shabby-light.woff2') format('woff2');
	src: url('../fonts/another-shabby-light.woff') format('woff');
}


h2 {
	font-family: "AnotherShabby", sans-serif;
}

.card-text {
 font-family: "Open Sans", sans-serif;
	font-size: 14px;
}